.showAll {
    display: grid;
    background: #E76666;
    width: 100%;
    height: auto;
    grid-column-gap: 29px;
    grid-template-columns: 1fr 2fr 1fr 1fr  ;
    grid-auto-columns: auto;
  margin: auto;
  grid-column: 1/3;
  grid-row: 3/4


}
.showAll > .col {
    height: 300px;
    opacity: .2;
        background: #F2F2F2;

}
